---
import Container from "./Container.astro";

---

<footer>
    <Container>
      <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
        <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
          <div
            class="flex w-full justify-center space-x-12 text-gray-600 dark:text-gray-300"
          >
            <span class="text-gray-500 dark:text-gray-400">Amal Foundation US &copy; <span id="year">2024</span></span>
          </div>
        </div>
      </div>
    </Container>
</footer>